*{
  padding: 0;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 10vh;
    font-family: sans-serif;
    background-color: rgb(255, 73, 73);
}

.data{
  color: rgb(0, 0, 0);
  align-content: center;
}

h1 {
  color: aqua;
  text-align: center;
  background-color: rgb(252, 98, 98);
  background-size: cover;
}

p {
  font-family: sans-serif;
  font-size: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  size: 100%;
  color: aquamarine;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.navbar ul li a{
  text-decoration: none;
  color: rgb(0, 255, 255);
  text-transform: uppercase;
  font-size: x-large;
}


.footer ul li{
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  margin: 0 20px;
  display: inline-block;
  align-content: center;
}

.footer ul li a{
  color: cornflowerblue;
  justify-content: space-between;
  font-size: large;
}

.seperator {
  text-align: center;
  size: 100%;
}

.apps h2{
  color: aqua;
  size: 40px;
}

.apps p{
  color: white;
}

.leaf h3{
  color: greenyellow;
  size: 40px;
}

.tos ul li{
  text-decoration: none;
  text-align: center;
  color: black;
  display: inline-block;
  align-content: center;
}
.tos ul li a{
  justify-content: space-between;
  font-size: large;
}